<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FaceIT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>11ECFB401F2A146B005FFE64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11ECFB541F2A146B005FFE64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11ECFB5F1F2A146B005FFE64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
